/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
 header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

 
 html {
    background:  rgb(139, 161, 184);
    font-family: Verdana, Geneva, sans-serif;
 }
 
 body > header {
    display: -webkit-flex;
    display: flex;
   
    margin: 0px auto;
    min-width: 320px;
    max-width: 1100px;  
    padding: 3px;
    width: 100%;
 }
 
 /* Header styles */
 
 body > header {
    border-bottom: 10px solid rgb(200, 118, 0);
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
    -webkit-align-items: flex-end;
    align-items: flex-end; 
    margin-bottom: 30px;
    width: 100%;
 }
 
 body > header > img {
    display: block;
    -webkit-flex: 0 1 200px;
    flex: 0 1 200px;
 }
 
 
 /* Navigation list styles */
 
 body > header > div> nav {
    -webkit-flex: 1 1 441px;
    flex: 1 1 441px;
 }
 
 body > header > div > nav > ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
 }
 
 body > header > div > nav > ul li {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
 }

 
 body > header > div> nav > ul > li {
   font-size: 1.2em; 
   line-height: 2.3em; 
   height: 1.5em;
   padding: 0px 10px;
  }
  
  body > header > div> nav > ul > li > a {
    color: white;
    display: block;
    width: 100%;
  }
  
  
  /* Section Styles */
  
  /* Table Styles */
  
  table {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(51, 51, 51, 0.9);     
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px
  }
  
  
 
  table td {
    border: 1px solid rgba(255, 255, 255, 0.4);
    vertical-align: top;
    padding: 4px 8px;
    width: 100%;
  }
  
  table tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  table tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  table a {
    color: rgba(51, 51, 51, 0.9);
    text-decoration: none;
  }
  
  table a:hover {
    text-decoration: underline;
  }
  
  
  #UserName {
   font-size: 1.2em; 
   line-height: 1.3em; 
   height: 1.5em;
   padding: 0px 70px;
  }
 h2, h1, h3, h4, h5, h6 {text-align: center;}

 form {
  margin: 0 auto;
  width: 200px;
 }

 form input, form select  {
   width: 100%;
   clear:right;
 }
 
#google_map {
  display: block;
  margin: auto;
  width: 50%;
}

.brewery_info {
  padding-left: 25%;
  padding-bottom: 20px
}
