<h1> Brew Queue </h1>

<p>Brew Queue is the number one place to keep your brewery travels organized.</p>
<p>We allow users to find breweries in their area and comment on their recent visits.</p>
<br />
<%= button_to "Login", login_path, method: :get %>
<%= button_to "Sign Up", signup_path, method: :get %>